<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    
    <Fragment>
        <!-- License Agreement Dialog (EULA) -->
        <UI Id="LicenseAgreementDialog">
            <Dialog Id="LicenseAgreementDlg" Width="370" Height="270" Title="[ProductName] - License Agreement">
                
                <!-- Banner -->
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                
                <!-- Title -->
                <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}End-User License Agreement</Text>
                </Control>
                
                <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Please read the following license agreement carefully</Text>
                </Control>
                
                <!-- License Text Display -->
                <Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="120" Sunken="yes" TabSkip="no">
                    <Text SourceFile="Files\LicenseAgreement.pdf" />
                </Control>
                
                <!-- Note about PDF -->
                <Control Id="PdfNote" Type="Text" X="20" Y="185" Width="330" Height="15" NoPrefix="yes">
                    <Text>You can view the full license agreement in LicenseAgreement.pdf after installation.</Text>
                </Control>
                
                <!-- Accept License Checkbox -->
                <Control Id="AcceptCheckbox" Type="CheckBox" X="20" Y="205" Width="330" Height="18" 
                         CheckBoxValue="1" Property="LICENSE_ACCEPTED" Text="I &amp;accept the terms in the License Agreement" />
                
                <!-- Bottom Line -->
                <Control Id="BottomLine" Type="Line" X="0" Y="226" Width="370" Height="0" />
                
                <!-- Navigation Buttons -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="LicenseVerificationDlg">1</Publish>
                </Control>
                
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="&amp;Next" Default="yes" Disabled="yes">
                    <Publish Event="NewDialog" Value="MT5PathDlg">LICENSE_ACCEPTED = "1"</Publish>
                    <Condition Action="enable">LICENSE_ACCEPTED = "1"</Condition>
                    <Condition Action="disable">LICENSE_ACCEPTED &lt;&gt; "1"</Condition>
                </Control>
                
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
                
            </Dialog>
        </UI>
        
    </Fragment>
    
</Wix>
